{% extends 'organisation/base.html' %}


{% block content %}

<div style="padding: 30px; width: 100%;">

<a href="/organisation/departments/" style="font-size: 16px;color: #9d4edd; text-decoration: none;"
>Back to Departments</a>
<h1 style="font-size:24px ; font-weight: 700; margin-top: 10px; margin-bottom: 5px;">{{ department_name }}</h1>
<p style="color: #777; margin: 0;"> All the teams in this department</p>
</div>

<div style="display: grid; grid-template-columns: repeat(3,1fr); gap: 20px;">
    {% for team in teams %}
    <div style="background: white;padding: 22px;border-radius: 14px;box-shadow: 0 6px 12px rgba(0, 0, 0, 0.06); border: 1px solid #eee;"></div>
        <span style="display: inline-block; background: #f2e6ff;color: #9d4edd; padding: 5px 9px; border-radius: 20px; font-size:12px; font-weight: 700; margin-bottom: 12px;">
            {{team.team_type}}
        </span>

        <h2 style="font-size: 18px; font-weight: 700; margin-bottom: 3px;"> {{team.name}}</h2>
        <p style="font-size: 13px;color: #666; font-weight: 600;margin-bottom: 6px;">{{team.manager}}</p>

            <p style="font-size:13px ; color: #666;margin-bottom: 6px;">
                {{team.description}}
            </p>

                <div style="margin-top: 16px;">
        <a href="/organisation/dependencies/{{ team.id }}/"
            style="background:#f7f0ff; color:#9d4edd; padding: 9px 12px; border-radius: 8px; text-decoration:none; font-weight: 700; font-size: 13px;">
            View Dependencies
        </a>
</div>

</div>

{% empty %}
    <p style="color: #8888;">No teams in this department</p>
    {% endfor %}
    </div>
</div>
    {% endblock %}